.music-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.floating-note {
    position: absolute;
    left: -50px;
    color: rgb(212, 212, 212);
    will-change: transform;
    /* induces gpu > cpu */

    animation: sideScroll 15s linear infinite;

    white-space: nowrap;
    user-select: none;
    font-family: "Times New Roman", Times, serif;
}

.note-bounce {
    display: inline-block;
    will-change: transform;

    animation: rapidSway 2.5s ease-in-out infinite;
}


@keyframes sideScroll {
    0% {
        transform: translate3d(0, 5vh, 0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translate3d(calc(100vw + 100px), -5vh, 0);
        opacity: 0;
    }
}


@keyframes rapidSway {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}