.music-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    /* unclickable notes */
    pointer-events: none;
}

.floating-note {
    position: absolute;
    left: -50px;
    color: rgb(212, 212, 212);
    /* 
        sideScroll: The long 15s journey across
        rapidSway: The quick 1s up-down bounce
    */
    animation:
        sideScroll 15s linear infinite,
        rapidSway 2.5s ease-in-out infinite;
    white-space: nowrap;
    user-select: none;

    font-family: "Times New Roman", Times, serif;
}

/* left right drift */
@keyframes sideScroll {
    0% {
        transform: translateX(0) translateY(5vh);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateX(calc(100vw + 100px)) translateY(-5vh);
        opacity: 0;
    }
}

/* up down sway */
@keyframes rapidSway {

    0%,
    100% {
        margin-top: 0px;
    }

    50% {
        margin-top: -20px;
    }
}