* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2c3e50;
    /* global background */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}